body {
    background: $lightest-gray;
    font-family: Lato, sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: $text-color;
}
.content {
    max-width: $max-content-width;
    margin: 0 auto;

    h1 {
        font-size: 1.25em;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
    }
}
.section {
    @include box-sizing(border-box);
    min-height: $min-section-height;
    padding: 1.25em 0;
}
